<% provide(:title, "About") %>
<h1>About</h1>
<p>
  Pantomathes is a movie recommender system built with Ruby on rails. It uses APIs to fetch movie details and similar movie recommendations! Enjoy <3
</p>