<div class="center jumbotron">
  <h1>Welcome to Pantomathes</h1>

  <h2>
   Pantomathes is a movie recommender system.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>